
.steel{
  background:#60A2B9;
  }
  .water{
  background: #2481F0;
  }
  .bug{
  background:#97A61D;
  }
  .dragon{
  background:#4F60E2;
  }
  .electric{
  background:#FAC100;
  }
  .ghost{
  background:#6F3F70;
  }
  .fire{
  background: #E62223;
  }
  .fairy{
  background:#EF70F0;
  }
  .ice{
  background:#3DD9FF;
  }
  .fight{
  background: #FF8100;
  }
  .normal{
  background:#A0A2A0;
  }
  .grass{
  background: #3DA224;
  }
  .psychic{
  background:#EF3F7A;
  }
  .rock{
  background:#AFAA81;
  }
  .dark{
  background:#4E3F3C;
  }
  .ground{
  background:#914F1A;
  }
  .poison{
  background:#913ECB;
  }
  .flying{
  background:#82BAF0;
  }